APPNAME="UPSTOX TRADING PLATFORM--SANDBOX"
# ENV
LOADED_ENV="DEMO"  #DEMO, SANDBOX, LIVE, PROD
# Instrument file
INSTRUMENT_FILE="assets/NSE.json"
INSTRUMENT_FILE_PICKLE="assets/NSE.pkl"
# URL
SANDBOX_UPSTOX_URL="https://api-sandbox.upstox.com"
UPSTOX_URL="https://api.upstox.com"
UPSTOX_HF_API_URL="https://api-hft.upstox.com"

#CLIENT ID
UPSTOX_CLIENT_ID=
UPSTOX_CLIENT_SECRET=
UPSTOX_REDIRECT_URI="http://127.0.0.1:8080/upstox/callback" # use not 80 for locahost

UPSTOX_ACCESS_TOKEN=Upstox_token_will_be_updated_automatically
UPSTOX_EXTENDED_TOKEN=Upstox_token_will_be_updated_automatically
SANDBOX_ACCESS_TOKEN=Need_to_be_pasted_manually

# Database path
DB_PATH = "db/data/trader_database.db"